{% load staticfiles %}
<html>
<title>
Categories
</title>
<body background = {% static 'images/bgimage.jpg' %}>
<h1>Categories</h1>
<form action="software-engineering/">
    <input type="submit" value="Software Engineering Internships">

</form>
<br>
<br>
<form action="electrical-engineering/">
    <input type="submit" value="Electrical Engineering Internships">
</form>
<br>
<br>
<form action="management/">
    <input type="submit" value="Management Internships">
</form>
<br>
<br>
<form action="logout/">
    <input type="submit" value="Logout">

</form>
</body>

</html>